@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap");

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App {
    text-align: center;
}

.close-button {
    appearance: none;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button:hover {
    cursor: pointer;
}

.App-header {
    background-color: #282c34;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #414141;
}

.App-link {
    color: #61dafb;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;

    translate: -50% -50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

.custom-header {
    white-space: nowrap;
}

.custom-header > span {
    text-overflow: ellipsis;
}

.custom-header {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust space between text and button */
}
